<server description="Sample Servlet server">
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>cdi-2.0</feature>
        <feature>el-3.0</feature>
        <feature>jsp-2.3</feature>
        <feature>servlet-4.0</feature>
        <feature>concurrent-1.0</feature>
        <feature>jsfContainer-2.3</feature>
        <feature>mpConfig-1.4</feature>
        <feature>mpRestClient-1.4</feature>
    </featureManager>

    <variable name="app.context.root" defaultValue="coffee-shop-web"/>

    <!-- tag::httpEndpoint[] -->
    <httpEndpoint httpPort="9081"
                  httpsPort="9443" id="defaultHttpEndpoint" host="*"/>
    <!-- end::httpEndpoint[] -->
    <webApplication id="coffee-shop-web" location="coffee-shop-web.war" contextRoot="${app.context.root}"/>
</server>
